<web-app>
    <!-- LogIn : Redirection(GET) and Validation(POST) -->
    <servlet>
        <servlet-name>UserAuthenticatorServlet</servlet-name>
        <servlet-class>servlets.auth.UserAuthenticatorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAuthenticatorServlet</servlet-name>
        <url-pattern>/userAuthf</url-pattern>
    </servlet-mapping>
    <!-- LogIn -->

    <!-- Collection : Redirection+Jetter(GET) -->
    <servlet>
        <servlet-name>CollectionServlet</servlet-name>
        <servlet-class>servlets.collection.CollectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CollectionServlet</servlet-name>
        <url-pattern>/mesCartes</url-pattern>
    </servlet-mapping>
    <!-- Collection -->

    <!-- ModelCarte : Redirection(GET) -->
    <servlet>
        <servlet-name>ModelCarteServlet</servlet-name>
        <servlet-class>servlets.main.ModelCarteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModelCarteServlet</servlet-name>
        <url-pattern>/models</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModelCarteUpServlet</servlet-name>
        <servlet-class>servlets.main.ModelCarteUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModelCarteUpServlet</servlet-name>
        <url-pattern>/modelsUp</url-pattern>
    </servlet-mapping>
    <!-- ModelCarte -->

    <!-- Serie : Redirection(GET) -->
    <servlet>
        <servlet-name>SerieServlet</servlet-name>
        <servlet-class>servlets.main.SerieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SerieServlet</servlet-name>
        <url-pattern>/series</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SerieUpServlet</servlet-name>
        <servlet-class>servlets.main.SerieUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SerieUpServlet</servlet-name>
        <url-pattern>/seriesUp</url-pattern>
    </servlet-mapping>
    <!-- Serie -->

    <!-- InfoPokemon : Redirection(GET) -->
    <servlet>
        <servlet-name>PokemonServlet</servlet-name>
        <servlet-class>servlets.collection.PokemonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PokemonServlet</servlet-name>
        <url-pattern>/infoPokemonAdd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PokemonUpServlet</servlet-name>
        <servlet-class>servlets.collection.PokemonUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PokemonUpServlet</servlet-name>
        <url-pattern>/infoPokemonUp</url-pattern>
    </servlet-mapping>
    <!-- InfoPokemon -->

    <!-- Serie : Redirection(GET) -->
    <servlet>
        <servlet-name>SerieServlet</servlet-name>
        <servlet-class>servlets.main.SerieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SerieServlet</servlet-name>
        <url-pattern>/series</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SerieUpServlet</servlet-name>
        <servlet-class>servlets.main.SerieUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SerieUpServlet</servlet-name>
        <url-pattern>/seriesUp</url-pattern>
    </servlet-mapping>
    <!-- Serie -->

    <!-- Vente : Redirection(GET) -->
    <servlet>
        <servlet-name>VenteServlet</servlet-name>
        <servlet-class>servlets.VenteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VenteServlet</servlet-name>
        <url-pattern>/vente</url-pattern>
    </servlet-mapping>
    <!-- Vente -->

    <!-- Search : Redirection(GET) -->
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <!-- Search -->

    <!-- HomeRouter : Redirection(GET) -->
    <servlet>
        <servlet-name>HomeRouterServlet</servlet-name>
        <servlet-class>servlets.HomeRouterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeRouterServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <!-- HomeRouter -->

    <!-- Type : Redirection(GET) -->
    <servlet>
        <servlet-name>TypeServlet</servlet-name>
        <servlet-class>servlets.TypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TypeServlet</servlet-name>
        <url-pattern>/typesAdd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TypeUpServlet</servlet-name>
        <servlet-class>servlets.TypeUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TypeUpServlet</servlet-name>
        <url-pattern>/typesUp</url-pattern>
    </servlet-mapping>
    <!-- Type -->

    <!-- Generation : Redirection(GET) -->
    <servlet>
        <servlet-name>GenerationServlet</servlet-name>
        <servlet-class>servlets.GenerationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerationServlet</servlet-name>
        <url-pattern>/generationsAdd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GenerationUpServlet</servlet-name>
        <servlet-class>servlets.GenerationUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerationUpServlet</servlet-name>
        <url-pattern>/generationsUp</url-pattern>
    </servlet-mapping>
    <!-- Generation -->

    <!-- Carte : Redirection(GET) -->
    <servlet>
        <servlet-name>CarteServlet</servlet-name>
        <servlet-class>servlets.main.CarteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarteServlet</servlet-name>
        <url-pattern>/cartes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CarteUpServlet</servlet-name>
        <servlet-class>servlets.main.CarteUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarteUpServlet</servlet-name>
        <url-pattern>/cartesUp</url-pattern>
    </servlet-mapping>
    <!-- Carte -->

<!--  chart  -->
    <!-- BilanVente : Redirection(GET) -->
    <servlet>
        <servlet-name>BilanVenteServlet</servlet-name>
        <servlet-class>servlets.chart.BilanVenteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BilanVenteServlet</servlet-name>
        <url-pattern>/bilan</url-pattern>
    </servlet-mapping>
    <!-- BilanVente -->
</web-app>